.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
gearman.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
php_gearman.lo
run-tests.php
*.loT
*.lo
*.la
tests/*.sh
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
